<h2>Tools for Insight</h2>
<p>
  Making decisions is hard.
  <h3>
    To make great decisions, you need the right information, at the right time.
  </h3>
  <h3>
    We can help.
  </h3>
  <h3>
    How?
  </h3>
<p>
  By providing the infrastructure to access the data you need, the expertise
  to help you figure out the right questions to ask, and the analytics to answer
  those questions.
</p>
<ul>
{% for tool in insight %}
  <li>
    <h2>{{ tool.name }}</h2>
    <p>
      {{ tool.description }}
    </p>
    <img src="{{ STATIC_URL }}{{tool.image_location}}">
  </li>
{% endfor %}
</ul>
