{% extends 'base.html' %}
{% block titlextra %} - About{% endblock %}
{% block page_type %}tool{% endblock %}
{% block content %}
<article>
<h2>
  Openness
</h2>
<p>
  We believe that the peer review and accountability that
  medical research benefits from should also be used to help
  the tools that we use. Which is why we use an open source
  stack for our building blocks, and publish our code.
</p>
<h2>Who are Open Health Care?</h2>
<p>
  Why don't you <a href="{% url who %}">meet the team</a>?
<p>
</article>
{% endblock %}
