<!doctype html>
<!--[if lt IE 7]>
<html class="unscripted ie ie6" lang="en">
<![endif]-->
<!--[if IE 7]>
<html class="unscripted ie ie7" lang="en">
<![endif]-->
<!--[if IE 8]>
<html class="unscripted ie ie8" lang="en">
<![endif]-->
<!--[if IE 9]>
<html class="unscripted ie ie9" lang="en">
<![endif]-->
<html class="unscripted" lang="en" style="-webkit-transform: translateZ(0)">
	<head>
		<meta charset="utf-8">
		<title>Open Health Care UK {% block titlextra %}{% endblock %}</title>
		<script>
			// Give CSS-readable feedback of the fact that the page is scripted, and the page is loading
			void function loadWait(h,c){
				h[c]   = h[c].replace('un','loading ');
				window.onload = new function loadTimeout(){
					return setTimeout(function removeLoadingClass(){
						h[c] = h[c].replace('loading','loaded')
					},500);
				};
			}(document.lastChild,'className');
		</script>
		<script src="/inc/javascript/modernizr.min.js"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Open-source IT solutions for patients and healthcare professionals">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/inc/css/ohc-symbols.css"/>
		<link rel="stylesheet" href="/inc/css/OpenSans.css"/>
		<link rel="stylesheet" href="/inc/css/grids-reduced.css"/>
		<link rel="stylesheet" href="/inc/css/ohc.css"/>
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>
			void function conditionallyLoadScripts(){
				function loadScript(url){
					document.write('<script src="' + url + '"><\/script>');
				};

				// If jQuery didn't come through from the CDN
				if(!window.jQuery){
					loadScript('/inc/javascript/jquery-1.9.1.min.js');
				}

				// If we're on old IE, call Selectivizr for CSS3 usage
				if(/ie(6|7|8)/.test(document.lastChild.className)){
					loadScript('/inc/javascript/selectivizr.min.js');
				}
			}();
		</script>
		<script src="/inc/javascript/plugins.js">
		</script>
		<script src="/inc/javascript/main.js">
		</script>
	</head>
	<body class="{% block page_type %}home{% endblock %}">
		<header>
			<div class="contentWrap">
				<div class="navWrap fractionGroup">
					<div class="colophon">
						<h1>
							<a href="{% url home %}">
								<img alt src="/inc/img/ohc-trans.png"/>
								<span class="text">
									Open Health Care UK
								</span>
							</a>
						</h1>
					</div>
					<div class="nav size2of3 fractionGroup">
					<!--
						The url tag is a reverse
						lookup on the routes in urls.py on
						the name keyword
					-->
						<a href="{% url about %}">
							About
						</a>
						<a href="{% url products %}">
							Tools
						</a>
						<a href="{% url hackdays %}">
							Hack Days
						</a>
						<a href="{% url consultancy %}">
							Consultancy
						</a>
						<a href="#">
							Blog
						</a>
					</div>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="contentWrap">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		{% block content_after %}
		{% endblock %}
		<div class="footer">
			<div class="contentWrap">
				<h2>Get in touch with OHC</h2>
				<form action="#" class="fractionGroup">
					<div>
						<p>
							Find us on twitter <a href="http://www.twitter.com/ohcuk">@ohcuk</a>, send an email to <a href="mailto:hello@openhealthcare.org.uk">hello@openhealthcare.org.uk</a>, or fill in the following form:
						</p>
					</div>
					<div>
						<div class="fractionGroup">
							<label for="contactName">
								Your name:
							</label>
							<input name="contactName" required/>
						</div>
						<div class="fractionGroup">
							<label for="contactEmail">
								Your email address:
							</label>
							<input name="contactEmail" required type="email" />
						</div>
					</div>
					<div class="relative">
						<textarea name="contactBody" placeholder="Dear OHC&#133;" required></textarea>
						<button>
							Send
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
<html>
