
<!doctype html>
<!--[if !IEMobile]>
	<![if lt IE 7]>
<html class="unscripted ie ie6" lang="en">
	<![endif]>
	<![if IE 7]>
<html class="unscripted ie ie7" lang="en">
	<![endif]>
	<![if IE 8]>
<html class="unscripted ie ie8" lang="en">
	<![endif]>
	<![if IE 9]>
<html class="unscripted ie ie9" lang="en">
	<![endif]>
<![endif]-->
<!--[if gt IE 9]><!-->
<html class="unscripted" lang="en" style="-webkit-transform: translateZ(0)">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Open Health Care UK {% block titlextra %}</title>
		<script>
			// Give CSS-readable feedback of the fact that the page is scripted, and the page is loading
			void function loadWait(h,c){h[c]=h[c].replace('un','loading ');onload=setTimeout(function(){h[c]=h[c].replace('loading','')},500)}(document.lastChild,'className');
			// I use some HTML5 elements. May as well tell the browser.
			void function addElements(e){while(e.length) document.createElement(e.pop())}(['article','header','nav','section']);
		</script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Open-source IT solutions for patients and healthcare professionals">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="inc/css/ohc.css"/>
	</head>
	<body class="home">
		<!-- div class="twitter">
			<div class="contentWrap">
				<p><a href="https://twitter.com/ohcuk" target="_blank">@ohcuk</a>: not to be missed, the @nhshackday @okfn @ohcuk xmas drinks from 7pm at the Grafton arms, 72 Grafton Way, W1T 5DU #nhshd</p>
			</div>
		</div-->
		<header>
			<div class="contentWrap">
				<div class="colophon">
					<h1>
						Open Health Care UK
					</h1>
					<p class="strapline">
						Open-source IT solutions for patients and healthcare professionals
					</p>
				</div>
				<nav>
					<ul>
						<li>
							<a href="#">
								Projects &#38; products
							</a>
						</li>
						<li>
							<a href="#">
								Hack Days
							</a>
						</li>
						<li>
							<a href="#">
								Consultancy
							</a>
						</li>
						<li class="lastUnit">
							<a href="#">
								Blog
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="content">
			<div class="contentWrap">
				<div class="contentItem intro">
					<div class="contentItemWrap">
						<p class="firstChild">
							Open Health Care UK is a <a href="consultancy">team</a>, a series of <a href="projects">projects</a>, and a foundation with the purposing of using <a href="http://en.wikipedia.org/wiki/Open_source_software" target="blank">open source software</a> and expertise to solve problems faced by patients, doctors and healthcare professionals.
						</p>
						<!--p>
							We organise the <a href="hack-day">NHS Hack Day</a> as part of our work to encourage and promote the efforts of the open source IT community in solving general and specific problems, produce and maintain products and projects that address these problems, and offer consultancy to the Department of Health and other bodies interested in tailoring our expertise and insight to specific requirements.
						</p-->
					</div>
				</div>
				<div class="contentItem featured">
					<div class="contentItemWrap">
						<h2>NHS Hack Day 3: Oxford</h2>
						<img alt="NHS Hack Day logo" src="inc/img/hack-day.png" />
						<p>The 3rd NHS Hack Day takes place in Tingewick Hall, John Radcliffe Hospital, Oxford, on the 26th and 27th of January 2013. Be there!</p>
					</div>
				</div>
				<div class="contentItem apps">
					<div class="contentItemWrap">
						<h2>
							Projects &#38; products
						</h2>
						<article>
							<h3>
								NICE Guideline App for Android and iPhone
							</h3>
							<p>
								This app provides a fast and convenient means to access, download, and view NICE guidelines.
							</p>
						</article>
						<article>
							<h3>
								Prescribing analytics
							</h3>
							<p>
								We’re collaborating with Mastodon C and Ben Goldacre  to draw attention to unwarranted prescribing variation. Naturally we’ve made an API.
							</p>
						</article>
					</div>
				</div>
			</div>
		</div>
		<div class="blog">
			<div class="contentWrap">
				<h2>
					From the blog
				</h2>
				<div class="contentItem">
					<article class="firstUnit">
						<div class="contentItemWrap">
							<div class="colophon">
								<h3>
									Open data, peer production, and prescribing analytics
								</h3>
								<p>
									Last week saw the launch of prescribinganalytics.com (covered in the economist and elsewhere). At present it’s ‘just’ a nice data visualisation of some interesting open data that show the NHS could potentially save millions from it’s drug budget.
								</p>
							</div>
						</div>
					</article>
					<article>
						<div class="contentItemWrap">
							<div class="colophon">
								<h3>
									Why trusts should get behind NHS Hack Days and back ‘geeks who love the NHS’
								</h3>
								<p>
									NHS Hack Days demonstrate the value of a modern approach to NHS IT procurement and show the way forwards for competitive trusts. The first ever NHS Hack Day took place in London recently.
								</p>
							</div>
						</div>
					</article>
					<article class="lastUnit">
						<div class="contentItemWrap">
							<div class="colophon">
								<h3>
									Our response to the NHS Information Strategy
								</h3>
								<p>
									Last month saw the publication of the eagerly awaited NHS information strategy. With the ‘Liberating the NHS’ reforms now taking shape on the ground, the document may well be the final word on IT from the Department of Health.
								</p>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="contentWrap">
				<p>Get in touch! <br/><a href="mailto:carl.reynolds@openhealthcare.org.uk">carl.reynolds@openhealthcare.org.uk</a></p>
			</div>
		</div>
	</body>
<html>
