<!doctype html>
<!--[if lt IE 7]>
<html class="unscripted ie ie6" lang="en">
<![endif]>
<![if IE 7]>
<html class="unscripted ie ie7" lang="en">
<![endif]>
<![if IE 8]>
<html class="unscripted ie ie8" lang="en">
<![endif]>
<![if IE 9]>
<html class="unscripted ie ie9" lang="en">
<![endif]-->
<html class="unscripted" lang="en" style="-webkit-transform: translateZ(0)">
	<head>
		<meta charset="utf-8">
		<title>Open Health Care UK {% block titlextra %}{% endblock %}</title>
		<script>
			// Give CSS-readable feedback of the fact that the page is scripted, and the page is loading
			void function loadWait(h,c){
				h[c]   = h[c].replace('un','loading ');
				onload = setTimeout(function removeLoadingClass(){
					h[c] = h[c].replace('loading','loaded')
				},500);
			}(document.lastChild,'className');
		</script>
		<script src="/inc/javascript/modernizr.min.js"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Open-source IT solutions for patients and healthcare professionals">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/inc/css/OpenSans.css"/>
		<link rel="stylesheet" href="/inc/css/grids-reduced.css"/>
		<link rel="stylesheet" href="/inc/css/ohc.css"/>
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>
			void function conditionallyLoadScripts(){
				function loadScript(url){
					document.write('<script src="' + url + '"><\/script>');
				};

				// If jQuery didn't come through from the CDN
				if(!window.jQuery){
					loadScript('/inc/javascript/jquery-1.9.1.min.js');
				}

				// If we're on old IE, call Selectivizr for CSS3 usage
				if(/ie(6|7|8)/.test(document.lastChild.className)){
					loadScript('/inc/javascript/selectivizr.min.js');
				}
			}();
		</script>
		<script src="/inc/javascript/main.js">
		</script>
	</head>
	<body class="{% block page_type %}home{% endblock %}">
		<header>
			<div class="contentWrap">
				<div class="navWrap fractionGroup">
					<div class="colophon size1of3">
						<h1>
							<a href="{% url home %}">
								<img alt src="/inc/img/ohc-trans.png"/>
								<span class="text">
									Open Health Care UK
								</span>
							</a>
						</h1>
					</div>
					<ul class="nav fractionGroup">
						<!--
							The url tag is a reverse
							lookup on the routes in urls.py on
							the name keyword
						-->
						<li>
							<a href="{% url about %}">
								About
							</a>
						</li>
						<li>
							<a href="{% url products %}">
								Tools
							</a>
						</li>
						<li>
							<a href="{% url hackdays %}">
								Hack Days
							</a>
						</li>
						<li>
							<a href="{% url consultancy %}">
								Consultancy
							</a>
						</li>
						<li class="lastUnit">
							<a href="#">
								Blog
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="contentWrap">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		{% block content_after %}
		{% endblock %}
		<div class="footer">
			<div class="contentWrap">
				<h2>Get in touch with OHC</h2>
				<p>Send an email to <a href="mailto:hello@openhealthcare.org.uk">hello@openhealthcare.org.uk</a> or fill in the following form:</p>
				<form action="#" class="fractionGroup">
					<div class="size1of3">
						<div class="fractionGroup">
							<label for="contactName">
								Your name:
							</label>
							<input name="contactName"/>
						</div>
						<div class="fractionGroup">
							<label for="contactEmail">
								Your email address:
							</label>
							<input name="contactEmail"/>
						</div>
					</div>
					<div class="relative">
						<textarea name="contactBody"></textarea>
						<button>
							Send
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
<html>
