{% extends 'base.html' %}
{% block titlextra %} - consultancy{% endblock %}
{% block page_type %}tool{% endblock %}
{% block content %}
<article>
  <h1>Consultancy</h1>
</article>
<article>
  <h2>Stragegy</h2>
  <p>
    We can help you to develop a sane technology strategy.
  </p>
  <p>
    Public sector technology procurement is broken. It's an old story. But we
    believe passionately that it doesn't have to be this way.
  </p>
  <p>
    By combining a deep understanding of health and technology with a wide
    support network of senior healthcare and technology leaders, we can help
    to make it better.
  </p>
  <p>
    Recent customers include Imperial College London, the Department of Health,
    and NHS Right Care.
  </p>
</article>
<article>
  <h2>
    Analytics
  </h2>
  <p>
    We can do sums. Like lots of them really fast. And draw graphs. You
    love graphs.
  </p>
  <p>
    Our recent analytics projects include
    <ul>
      <li>
        <a href="http://prescribinganalytics.com">Prescribing analytics</a> - research
        into the prescribing habits of GPs focusing on Generic Statins.
      </li>
      <li>
        <a href="http://prescriptions.openhealthcare.org.uk">Open Prescribing</a>
        - an open research tool for answering questions about linked datasets in
        NHS GP prescribing.
      </li>
    </ul>
  </p>
</article>
<article>
  <h2>Development</h2>
  <p>
    We can build stuff. If you can't, we should totally talk.
  </p>
  <p>
    Our recent projects include
    <ul>
      <li>
        Randomize me - let's have more randomised control trials
      </li>
      <li>
        NICE International Clinical Pathways - let's share our
        medical expertise with the rest of the world.
      </li>
    </ul>
  </p>
</article>
{% endblock %}
