{% extends 'base.html' %}
{% block titlextra %} - consultancy{% endblock %}
{% block page_type %}tool{% endblock %}
{% block content %}
<article>
  <h1>Consultancy</h1>
  <p>
    We can help you to develop a sane technology strategy.
  </p>
  <p>
    Public sector technology procurement is broken. It's an old story. But we
    believe passionately that it doesn't have to be this way.
  </p>
  <p>
    By combining a deep understanding of health and technology with a wide
    support network of senior healthcare and technology leaders, we can help
    to make it better.
  </p>
  <p>
    Recent customers include Imperial College London, the Department of Health,
    and NHS Right Care.
  </p>
</article>
{% endblock %}
