{% extends 'base.html' %}
{% block titlextra %} &#8212; Hack Days{% endblock %}
{% block page_type %}hack-days{% endblock %}
{% block content %}

  <div class="highlightBlock">
    <h1>Hack Days</h1>
    <div class="fractionGroup">
      <div class="unit size1of2">
        <h2>
          The challenge
        </h2>
        <p>
          Technology is changing the world, and our expectations
        </p>
        <p>
          Corporate IT is lagging behind personal IT
        </p>
        <p>
          The NHS can't afford to lag behind
        </p>
      </div>
      <div class="unit size1of2">
        <h2>
          Digital technology as a medium
        </h2>
        <p>
          The world is becoming more digital and so is health
        </p>
        <p>
          The medium used to support, and deliver health, matters
        </p>
        <p>
          The medium should be digital but we must do it right
        </p>
      </div>
    </div>
  </div>



<div class="delineated">
	<div class="fractionGroup">
		<div class="size1of3 overflow_hidden">
			<img src="/inc/img/hack-day/1.jpg" alt="Eureka!"/>
		</div>
		<div class="size2of3">
			<h2>
				We believe that innovation happens when you give people freedom.
			</h2>
                          <h3>
				Which is why we run Hack Days.
                          </h3>
			<p>
				Hack Days are all about intensive collaboration. They allow you to
				sidestep the bureaucracy that slows down innovation, and rapidly
				realise fresh ideas. When you bring together multidisciplinary
				domain experts and inspire them, amazing things happen.
			</p>
			<p>
				Most Hack Days last just a couple days, but what you get from that
				time is extraordinary. The intense focus towards a common goal turns
				ideas into reality before more traditional methods would be done
				deciding whether it was a good idea.
			</p>
		</div>
	</div>
	<div class="fractionGroup">
		<div class="size2of3">
			<h2>
				We believe in building communities.
			</h2>
                        <h3>
				Which is why we started NHSHackDay.
                        </h3>
			<p>

				Weekend events that bring together
				doctors, nurses, developers, designers, and other "geeks who love the NHS"
				to create disruptive solutions to problems in the health space.
			</p>
		</div>
		<div class="size1of3 overflow_hidden">
			<img src="/inc/img/hack-day/3.jpg" alt="Do you come here often?"/>
		</div>
	</div>
	<div class="fractionGroup">
		<div class="size1of3 overflow_hidden">
			<img src="/inc/img/hack-day/2.jpg" alt="Actively seeking sponsors"/>
		</div>
		<div class="size2of3">
			<h2>
				We believe that people have great ideas, and want to do great work.
			</h2>
                        <h3>
				Which is why we organize hack days.
                        </h3>
			<p>
				For people with great ideas, there is no better way to prove them, than
				getting a bunch of talented, motivated people in a room, and lighting a
				fire under them.
			</p>
			<p>
				Interested in running a Hack Day? Drop us a line:
			</p>
		</div>
	</div>
</div>
{% endblock %}
