{% extends 'base.html' %}
{% load markup %}
{% block titlextra %} &#8212; Welcome{% endblock %}
{% block content %}
	<div class="fractionGroup delineated">
		<div class="intro">
			<p class="firstChild">
				By building the foundations to understand the way that health care is delivered, and showing how we can build upon those foundations, we help the people shaping the delivery of medicine to make great, informed decisions.
			</p>
			<p>
				By building applications that help front-line medical staff to work smarter, we smooth the rough edges of patient care, letting people spend more time healing the sick and less time grappling with the system.
			</p>
		</div>
		<div class="contentItem featured">
			<h2>
				<a href="{{featured.get_absolute_url}}">
				{{ featured.name }}
				</a>
			</h2>
			<img alt="NHS Hack Day logo" src="{{STATIC_URL}}{{ featured.image_location }}" />
			<p> 
			{{ featured.description|markdown }}
			</p>
		</div>
		<div class="contentItem apps">
			<h2>
				Tools
			</h2>
			<!-- Demonstrative of extra context now being passed -->
			{% for tool in products %}
			<article>
				<h3>
					<a href="{{tool.get_absolute_url}}">
						{{tool.name}}
					</a>
				</h3>
				<p>
					{{tool.description|markdown}}
				</p>
			</article>
			{% endfor %}
		</div>
	</div>
	<h2>
		From the blog
	</h2>
	<div class="fractionGroup delineated">
	{% for article in entries %}
		<article>
			<h3>
				<a href="{{ article.link }}">
					{{ article.title }}
				</a>
			</h3>
			<p>
			{% autoescape off %}
				{{ article.description }}...
			{% endautoescape %}
				<a href="{{ article.link }}">
					read more
				</a>
			</p>
		</article>
	{% endfor %}
	</div>
{% endblock %}
