		<header>
			<div class="contentWrap">
				<div class="navWrap fractionGroup">
					<div class="colophon size1of3">
						<h1>
							<a href="{% url home %}">
								<img alt src="/inc/img/ohc-trans.png"/>
								<span class="text">
									Open Health Care UK
								</span>
							</a>
						</h1>
					</div>
					<div class="nav size2of3 fractionGroup">
					<!--
						The url tag is a reverse
						lookup on the routes in urls.py on
						the name keyword
					-->
						<a href="{% url about %}">
							About
						</a>
						<a href="{% url products %}">
							Tools
						</a>
						<a href="{% url hackdays %}">
							Hack Days
						</a>
						<a href="{% url consultancy %}">
							Consultancy
						</a>
						<a href="/blog">
							Blog
						</a>
					</div>
				</div>
			</div>
		</header>
