{% extends 'base.html' %}
{% block content %}
<article>
	<h1>
		NHS Hack Day 3: Oxford	
	</h1>
	<div class="colophon">
		<p>
			<span class="type">{% page_type %}</span>
			{# Posted by <a href="mailto:david">David Miller</a> at 18:47 GMT on 12/29/2012 #}
		</p>
	</div>
	<img alt="NHS Hack Day logo" src="inc/img/hack-day.png" />
	<p class="strapline">The 3rd NHS Hack Day takes place in Tingewick Hall, John Radcliffe Hospital, Oxford, on the 26th and 27th of January 2013. Be there!</p>
	<h2>
		Problems and datasets
	</h2>
	<p>
		Submit a problem, idea, or dataset you have and we can help build a solution and put you in touch with top software developers.
	</p>
	<h2>
		Solutions and code
	</h2>
	<p>
		NHS Hack Day (software development day) is committed to producing high quality software that improves health. That's why we support openness and invite you to share code with us on github.
	</p>
	<h2>
		Supporters
	</h2>
	<ul>
		<li>
			Sir Muir Gray
		</li>
		<li>
			Sir Liam Donaldson
		</li>
		<li>
			Sir Bruce Keogh
		</li>
		<li>
			Dame Sally Davies
		</li>
		<li>
			Mr Peter Lees
		</li>
		<li>
			Ben Goldacre
		</li>
		<li>
			Francis Irving
		</li>
		<li>
			Nicholas Tollervey
		</li>
		<li>
			Ross Jones
		</li>
		<li>
			Sam Smith
		</li>
		<li>
			NHS QIPP Right Care
		</li>
		<li>
			OpenLabs LJMU
		</li>
		<li>
			O'Reilly
		</li>
		<li>
			UKGovCamp
		</li>
		<li>
			Open Health Care UK
		</li>
		<li>
			and several other organizations
		</li>
	</ul>
</article>
{% endblock %}
