{% extends 'base.html' %}
{% block titlextra %} - Products and Projects{% endblock %}
{% block content %}
<div class="contentItem intro">
  <div class="contentItemWrap">
    <p class="firstChild">
      Tools are really good things to have
    </p>
  </div>
</div>

<div class="contentItem intro">
  <div class="contentItemWrap">
    {% include 'tools/insight.html' %}
  </div>
</div>

<div class="contentItem intro">
  <div class="contentItemWrap">
    {% include 'tools/doctors.html' %}
  </div>
</div>

<!-- <h2>Tools for Teams (?similar format)</h2> -->
<!-- <h2>Tools for Patients (?similar format)</h2> -->
{% endblock %}
