{% extends 'base.html' %}
{% block titlextra %} &#8212; Tools{% endblock %}
{% block page_type %}tools{% endblock %}
{% block content %}
  <div class="highlightBlock">
    <div class="fractionGroup">
      <div class="unit size1of2">
        <h2>Tools for Insight</h2>
        <p>
          Making decisions is hard.
          <h3>
            To make great decisions, you need the right information, at the right time.
          </h3>
          <h3>
            We can help.
          </h3>
          <h3>
            How?
          </h3>
        <p>
          By providing the infrastructure to access the data you need, the expertise
          to help you figure out the right questions to ask, and the analytics to answer
          those questions.
        </p>
      </div>
      <div class="unit size1of2">
        <h2>Tools for Doctors</h2>
        <h3>
          We believe in working smarter.
        </h3>
        <p>
          Which is why we build applications that get out of the way, and help medical
          staff to deliver great patient care. Faster, smoother, and built with the patient
          in mind.
        </p>
      </div>
    </div>
  </div>

<div class="delineated">
  {% include 'tools/insight.html' %}
  {% include 'tools/doctors.html' %}
</div>

{% endblock %}
