{% extends 'base.html' %}
{% block titlextra %} &#8212; Meet OHC{% endblock %}
{% block page_type %}about{% endblock %}
{% block content %}
<article>
<h1>
	Meet Open Health Care
</h1>
<div class="person">
	<h2>
		Carl Reynolds, Co-founder and CEO
	</h2>
	<img src="{{STATIC_URL}}img/profiles/carl.jpg" height="200px" width="200px"/>
	<p>
		Carl is a doctor and a geek on a mission to make NHS IT less bad.
		He asks Ross how to do stuff a lot.
	</p>
</div>
<div class="person">
	<h2>
		Ross Jones, Co-founder and COO
	</h2>
	<img src="{{STATIC_URL}}img/profiles/ross.jpg" height="200px" width="200px" />
	<p>
		Ross is a geek wizard who knows how to do stuff.
		Seeing broken technology in the NHS pains him.
	</p>
</div>
<div class="person">
	<h2>
		David Miller, full-stack developer and CTO
	</h2>
	<img src="{{STATIC_URL}}img/profiles/david.jpeg" height="200px" width="200px" />
	<p>
		David was born at a very young age. Sometime after that he studied Philosophy,
		before deciding not to worry so much about the meaning of life.
	</p>
	<p>
		Unrelated to this, he later became a software engineer, where serendipitously enough,
		it turned out that having strong opinions about truthiness, and the logical
		consistency of concepts could actually be of practical use.
	</p>
</div>
</article>
{% endblock %}
