/* Allow the specification of a `.line` element to make its children occupy fractional widths */
.columnGroup,
.columnGroup > :nth-child(n+2):last-child {
	overflow: hidden;
	*overflow: visible;
	*zoom:1;
}
.columnGroup > *,
.unit {
	float:left;
}
.columnGroup > :nth-child(1):nth-last-child(2),
.size1of2 {
	width:50%;
}
.columnGroup > :nth-child(1):nth-last-child(3),
.columnGroup > :nth-child(2):nth-last-child(2),
.size1of3 {
	width:33.33333%;
}
.columnGroup > :nth-child(1):nth-last-child(4),
.columnGroup > :nth-child(2):nth-last-child(3),
.columnGroup > :nth-child(3):nth-last-child(2),
.size1of4 {
	width:25%;
}
.columnGroup > :nth-child(1):nth-last-child(5),
.columnGroup > :nth-child(2):nth-last-child(4),
.columnGroup > :nth-child(3):nth-last-child(3),
.columnGroup > :nth-child(4):nth-last-child(2),
.size1of5 {
	width:20%;
}
.columnGroup > :last-child,
.lastUnit {
	float:none;
	width:auto;
	_left:-3px;
	_margin-right:-3px;
	_position:relative;
}
.columnGroup > :only-child {
	float:none;
	overflow:visible;
}
