@import url(OpenSans.css);

html {
	font: 400 1em/1.5 OpenSans, sans-serif;
	color: #444;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
}

a {
	color: #5e5ed0;
}

a:hover,
a:active,
a:focus {
	background: rgba(60,60,150,.3333);
}

p a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
p a:active,
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active,
p a:focus,
h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus {
	margin-left:  -.1em;
	margin-right: -.1em;
	padding-left:  .1em;
	padding-right: .1em;
}

img {
	border: 0;
	display: block;
	max-height: 15em;
	max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, 
body {
	background: #fefefe;
	margin: 0;
	min-height: 100%;
}

body {
	padding-bottom: 15em;
}

article, header, nav {
	display: block;
	position: relative;
}

.twitter,
.footer {
	background: #1d1d1b;
	color: #f4b119;
	overflow: hidden;
}

.footer {
	bottom: 0;
	font-size: 1.25em;
	position: absolute;
	width: 100%;
}

.twitter a,
.footer a {
	color: inherit;
}

.twitter p,
.footer p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.twitter p:before {
	display: inline-block;
	content: url(../img/twitter.png);
	margin-right: .5em;
}

.contentWrap {
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	text-align: center;
}

header {
	background: #f4b119;
	color: #1d1d1b;
}

header h1 img {
	border: .125em solid;
	display: inline-block;
	height: 1.3333em;
	vertical-align: baseline;
}

header .colophon {
	padding-right: 1em;
}

.contentWrap {
	margin: auto;
	max-width: 100em;
	text-align: left;
}

.twitter .contentWrap,
.footer .contentWrap {
	text-align: center;
}

h1 {
	text-transform: uppercase; 
}

nav {
	background: #1d1d1b;
	color: #f4b119;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1em;
}

h1, h2 {
	font-size: 1.5em;
}

nav ul {
	padding: 0;
}

nav li {
	list-style: none;
}

article ul {
	list-style: none;
	padding-left: 1.5em;
}

article ul li {
	position: relative;
}

article ul li:before {
	background: #f4b119;
	border-radius: .5em;
	content: ' ';
	display: inline-block;
	height: .5em;
	position: absolute;
	margin-left: -1.5em;
	margin-top: .5em;
	width: .5em;
}

nav a {
	color: inherit;
	display: block;
	padding: 1em;
	text-decoration: none;
}

.contentItemWrap {
	border-top: 1px solid;
	padding-top: 1em;
}

.contentItem.intro .contentItemWrap {
	border: none;
	padding-left: 0;
	padding-top: 0;
}

.intro p.firstChild {
	margin-top: 0;
}

/* Only if we have the available width */

@media (min-width: 30em) {

	header {
		padding-top: 5em;
	}

	h1 {
		font-size: 2em;
	}

	.intro,
	article .strapline {
		font-size: 1.25em;
		font-weight: 600;
	}

	/* Extrapolations fom Stubbornella's OOCSS grids module 
	 * https://github.com/stubbornella/oocss/blob/master/core/grid/grids.css
	 */

	nav ul, 
	nav li.lastUnit {
		overflow: hidden; 
		*overflow: visible;
		*zoom: 1;
	}

	nav li {
		float: left;
	}

	nav li {
		width: 25%;
	}

	nav li.lastUnit {
		float: none; 
		width: auto; 
		_position: relative;
		_left: -3px;
		_margin-right: -3px;
	}

}

@media (min-width: 60em) {

	header {
		margin-bottom: 5em;
	}

	header .strapline {
		font-size: 1.25em;
		font-weight: 600;
	}

	nav a {
		font-size: 1.5em;
	}

	body.post article {
		margin-left: 33.3333%;
		padding-left: 1em;
	}

	body.post article img {
		position: absolute;
		left: -50%;
		max-height: none;
		max-width: 50%;
	}

	body.post article .colophon {
		position: absolute;
		left: -50%;
		text-align: right;
		top: 0;
		width: 50%;
	}

	.contentItemWrap {
		border-left: 1px solid;
		border-top: none;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 0;
	}

	.firstUnit .contentItemWrap {
		border-left: none;
		padding-left: 0;
	}

	.intro {
		padding-top: 3em;
	}

	header, 
	nav,
	body.home .content,
	body.home .content .apps,
	body.home .blog,
	body.home .blog .lastUnit {
		overflow: hidden; 
		*overflow: visible;
		*zoom: 1;
	}

	header .colophon,
	body.home .content .intro,
	body.home .content .featured,
	body.home .blog article {
		float: left;
		width: 33.33333%;
	}

	nav, 
	body.home .content .apps,
	body.home .blog .lastUnit {
		float: none; 
		width: auto; 
		_position: relative;
		_left: -3px;
		_margin-right: -3px;
	}

}
