@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?99903856");
  src: url("../font/fontello.eot?99903856#iefix")    format('embedded-opentype'),
       url("../font/fontello.woff?99903856")         format('woff'),
       url("../font/fontello.ttf?99903856")          format('truetype'),
       url("../font/fontello.svg?99903856#fontello") format('svg');
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?99903856#fontello') format('svg');
  }
}
*/
flourish *:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

html.ie7 cross,
html.ie7 cog {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe109;&nbsp;');
}

cross:before {
  content: '\e05a';
}

cog:before {
  content: '\e109';
}

html.ie7 cross {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe05a;&nbsp;');
}

html.ie7 cog {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe109;&nbsp;');
}

img {
  position: absolute;
}

.logo {
  background: #fff;
  display: block;
  height: 256px;
  position: relative;
  width: 256px;
}

.logo > * {
  display: block;
  position: absolute;
  text-align: center;
}

.logo block {
  background: black;
  height: 50%;
  top: 50%;
  width: 100%;
}

.logo cross {
  font-size: 6em;
  top: 25%;
  width: 100%;
  margin-top: -.5em;
}

.logo cog {
  color: #fff;
}

.logo cog:nth-of-type(1) {
  font-size: 6em;
  margin-top: -.5em;
  top: 72%;
  width: 50%;
}

.logo cog:nth-of-type(2) {
  font-size: 4em;
  margin-top: -.5em;
  left: 42%;
  top: 66.6666%;
  width: 33.3333%;
}

.logo cog:nth-of-type(3) {
  font-size: 3.75em;
  margin-top: -.5em;
  left: 65.6666%;
  top: 80.3333%;
  width: 33.3333%;
}
